<!--https://chatgpt.com/share/67a043e9-fa50-8008-a07e-4304cc0fc2cd -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Details</title>
    <link rel="stylesheet" href="/recipe-card.css">
</head>
<body>
    <div class="recipe-container">
        <h1 id="recipe-name">Recipe Name</h1>
        <p class="recipe-name">Recipe-name: <span id="recipe-name"><%=dishName %></span></p>
        <p class="username">By: <span id="username"><%=username %> </span></p>
        <img id="dish-image" src="<%=image %>" alt="Dish Image">
        <p class="price">Price: <span id="price"><%=price %></span></p>
        <p class="description">Description: <span id="description"><%=description %></span></p>
        <p class="ingredients">Ingredients: <span id="ingredients"><%=ingredients %></span></p>
        

         
        <% if (inStock === true) { %>
        <p>In Stock</p> 
       <% } else { %>
        <p>Not in Stock</p> 
        <% } %>

    </div>
</body>
</html>
